* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 600;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img{
    width: 100px;
}
.logo img:hover{
    cursor: pointer;
}
.logo p:hover{
    cursor: pointer;
}
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 20px;
    font-size: 20px;
}

.nav-links a {
    color:black;
    text-decoration: none;
}
.nav-links a:hover{
    color: red;
}

.hamburger {
    display: none;
    font-size: 28px;
    color:black;
    cursor: pointer;
}

.close {
    display: none;
    font-size: 28px;
    color: black;
    cursor: pointer;
}

/* -------------home-------------- */

.carousel {
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    
    width: 100%;
    display: none; 
}

.slide.active {
    display: block;
}

.slides img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 100px;
}
.wrapper h3{
    font-size: 50px;
    background-color: transparent;
    color: rgb(238, 238, 238);
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: 3s;
    z-index: 100;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* -------------about us-------------- */
.about{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.about h2{
    padding-bottom: 50px;
}
.about span{
    color: orangered;
}
.about-content{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 60px;
    margin: 30px;
    padding-bottom: 50px;
}
.about-left{
    width: 45%;
    height: 100%;
    margin-top: 50px;
}
.about-left img{
    width: 100%;
    padding: 20px;
    cursor: pointer;
}

.about-right{
    position: absolute;
    right: 40px;
    width: 50%;
    margin-top: 20px;
}
.about-right h3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: blue;
    padding-bottom: 15px;
}
.about-right p{
    font-size: 20px;
}


/* ------------services---------------- */

.services{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    font-size: 30px;
}
.images{
    display: flex;
    margin: 30px;
}
.image1{
    width: 60%;
    border: 2px solid white;
    margin-left: 40px;
    overflow: hidden;
}
.image1 img{
    width: 100%;
    height: 100%;
}
.image2{
    width: 40%;
    display: grid;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.image2 img{
    width: 80%;
    border: 2px solid white;
}
.image1 img:hover{
    transform: scale(1.1);
}
.image2 img:hover{
    transform: scale(1.1);
}


/*------------- projects -------------*/
.project{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    font-size: 30px;
}
.design{
    display: flex;
    
}
.design-left{
    width: 50%;
}
.design-left img{
    width: 100%;
}
.desigh-right{
    width: 40%;
    margin-left: 50px;
}
.desigh-right h3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding: 30px;
}
.desigh-right ul li{
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
}



/* -----------contact-------------- */
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    font-size: 25px;
}
.contact-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border: 2px solid black;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 40px;
    background-color: rgb(196, 194, 194);
}
.contact-input label{
    font-size: 20px;
}
.contact-input input{
    width: 400px;
    height: 30px;
    
}
.contact-input .text-area{
    height: 150px;
}
.submit:hover{
    background-color: #84b9ff;
}


@media (max-width: 768px) {
    .body{
        margin: 0;
        padding: 0;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #a3a3a3;
        width: 100%;
        margin: 10px;
        top: 0px;
        right: 0; 
        left: 0;
        text-align: center;
        z-index: 101;
    }
    .nav-links li{
        padding: 20px;
        font-size: 20px;
    }
    .nav-links.active {
        display: flex;
        color: red;
    }

    .hamburger {
        display: block;
    }

    .close {
        display: block;
        align-self: flex-end;
        margin: 10px;
    }
    .nav-links img{
        width: 30px;
    }
    



    /* ----------------home-------------- */

    .wrapper{
        bottom: 20px;
    }
    .wrapper h3{
        font-size: 18px;
        
    }



    /* ------------------about------------------ */

    .about{
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
    }
    .about h2{
        font-size: 20px;
        padding: 0;
    }
    .about span{
        color: orangered;
    }
    .about-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        align-items: stretch;
        gap: 3%;
        padding-bottom: 0;
    }
    .about-left{
        display: flex;
        flex-direction: column;
    }
    .about-left img{
        margin-top: -60%;
        margin: 0;
        width: 350px;
        height: 300px;
    }
    
    .about-right{
        position: relative;
        width: 100%;
        right: 0;
        padding: 9%;
    }
    .about-right h3{
        font-size: 20px;
    }
    .about-right p{
        font-size: 18px;
    }




    /* -------------------services------------------ */

    .services{
        display: flex;
        flex-direction: column;
        font-size: 20px;
        margin: 0;
    }
    .images{
        display: flex;
        margin: 20px;
        margin-bottom: 30px;
    }
    .image1{
        margin: 0;
    }
    image
    .image2 img{
        width: 100%;
    }
    

    

    /* --------------------project------------------- */

    .project{
        display: flex;
        align-items: center;
        justify-content: center;
        
        font-size: 18px;
    }
    .design{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .design-left{
        width: 80%;
    }
    .desigh-right{
        width: 80%;
        margin:20px;
    }
    .desigh-right h3{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        padding: 20px;
    }
    .desigh-right ul li{
        padding-bottom: 20px;
        font-size: 18px;
        font-weight: 500;
    }
    .project h1{
        font-size: 30px;
    }

    

    /* -----------------contact--------------- */

    .contact{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 40px;
        font-size: 20px;
    }
    .contact-input{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        border: 2px solid black;
        width: 90%;
        margin: 20px;
        background-color: rgb(196, 194, 194);
    }
    .contact-input label{
        font-size: 20px;
    }
    .contact-input input{
        width: 200px;
        height: 30px;
        
    }
    
    
}
